{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}
    <a href="{{ get_url(path='/blog/atom.xml') }}" target="_blank" rel="noopener noreferrer" class="icon-link"
        aria-label="RSS feed">
        <!-- RSS SVG logo -->
        {{ load_data(path="static/icons/rss.svg") | safe }}
    </a>
</h1>

{% set posts_by_year = section.pages | sort(attribute="date") | reverse | group_by(attribute="year") %}

{% for year, posts in posts_by_year %}
<h2>{{ year }}</h2>
<ul class="post-list">
    {% for post in posts %}
    <li class="post-item">
        <span class="date">{{ post.date | date(format="%Y-%m-%d") }}</span>
        <div class="post-text">
            <a href="{{ post.permalink }}">{{ post.title }}</a>
            {% if post.translations | length > 1 %}
            ({% for tr in post.translations | sort(attribute="lang") %}
            <a href="{{ tr.permalink }}">{{ tr.lang }}</a>
            {%- if not loop.last %} - {% endif %}
            {% endfor %})
            {% endif %}
            {% if post.extra.subtitle %}
            <div class="post-subtitle">{{ post.extra.subtitle }}</div>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% endfor %}
{% endblock content %}