{% extends "base.html" %}

{% block content %}

<h1 class="welcome">
    <span>Hi. I’m Dima</span><br />
    <span class="text-rotator">
        <span class="track">
            <span>Welcome</span>
            <span>Fáilte</span>
        </span>
    </span>
</h1>
This is a simple, JS-free corner about things I like.
<div class="text-home">
    <p>There's a lot of them, but the three things I love most are
        <span class="tip-wrap">
            <a class="has-tip" aria-describedby="tip-gaeilge">Gaeilge</a>
            <span id="tip-gaeilge" role="tooltip" class="tooltip">
                Gaeilge - the Irish language<br />It's beautiful - tá sí álainn
            </span>
        </span>, <span class="tip-wrap">
            <a class="has-tip" aria-describedby="tip-the-culture">the Culture</a>
            <span id="tip-the-culture" role="tooltip" class="tooltip">
                Iain Banks' the Culture<br />I've got a page about it<br />Please check it out
            </span>
        </span> and wild honeysuckle berries.
    </p>
</div>

{% set blog = get_section(path="blog/_index.md") %}
{% set latest_posts = blog.pages | sort(attribute="date") | reverse | slice(end=3) %}

{% if latest_posts | length > 0 %}
<section class="latest-posts">
    <h2>Latest posts</h2>
    <ul class="post-list">
        {% for post in latest_posts %}
        <li class="post-item">
            <span class="date">{{ post.date | date(format="%Y-%m-%d") }}</span>
            <div class="post-text">
                <a href="{{ post.permalink }}">{{ post.title }}</a>
                {% if post.translations | length > 1 %}
                ({% for tr in post.translations | sort(attribute="lang") %}
                <a href="{{ tr.permalink }}">{{ tr.lang }}</a>
                {%- if not loop.last %} - {% endif %}
                {% endfor %})
                {% endif %}
                {% if post.extra.subtitle %}
                <div class="post-subtitle">{{ post.extra.subtitle }}</div>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}

{% endblock content %}